@use "../../styles/variables.scss" as vrb;
@use "../../styles/responsive.scss" as res;

.menu .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 7.5px 0;
  .title {
    font-size: 13px;
    font-weight: 200;
    color: vrb.$soft-color;
    text-transform: uppercase;
    @include res.respond-to("sm") {
      display: none;
    }
  }
  .listitem {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    .listitemTitle {
      @include res.respond-to("sm") {
        display: none;
      }
    }
    img {
      width: 15px;
    }
    &:hover {
      background-color: vrb.$soft-bg;
    }
  }
}
