$nano: 320px;
$sm: 480px;
$md: 765px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media screen and (max-width: $sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media screen and (max-width: $md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media screen and (max-width: $lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media screen and (max-width: $xl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media screen and (max-width: $xxl) {
      @content;
    }
  } @else {
    @media screen and (max-width: $nano) {
      @content;
    }
  }
}
