@use "./styles/variables.scss" as vars;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "inter", sans-serif;
  background-color: vars.$main-bg;
  color: vars.$main-color;
}
a {
  text-decoration: none;
  color: inherit;
}
