@use "./styles/variables.scss" as vars;
@use "./styles/responsive.scss" as res;

.container {
  display: flex;
}
.menuContainer {
  width: 200px;
  padding: 0px 20px;
  border-right: 2px solid vars.$soft-bg;
  @include res.respond-to("sm") {
    width: fit-content;
    padding: 0px 10px;
  }
  @include res.respond-to("nano") {
    padding: 0;
  }
}

.contentContainer {
  width: 100%;
  padding: 5px 20px;
  @include res.respond-to("sm") {
    padding: 0px 10px;
  }
  @include res.respond-to("nano") {
    padding: 3px;
  }
}
